<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>FILL THIS FORM TO ADD A NEW MEMBER</h1>
    <form action="/addpage" method="post">
        <input type="text" name="uname" placeholder="Enter name">

        <input type="submit">
    </form>

</body>

</html>